@page "/playlists/edit"
@using Microsoft.EntityFrameworkCore
@using Groovy.Domain
@inject IDbContextFactory<Groovy.Data.GroovyContext> DbFactory
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authenticationStateProvider

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Playlist</h2>
<hr />
@if (Playlist is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Playlist" OnValidSubmit="UpdatePlaylist" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Playlist.Id" value="@Playlist.Id" />
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Playlist.Name" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Playlist.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="appuserid" class="form-label">AppUserId:</label>
                    <InputText id="appuserid" @bind-Value="Playlist.AppUserId" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Playlist.AppUserId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Playlist.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Playlist.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Playlist.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Playlist.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Playlist.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Playlist.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Playlist.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Playlist.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/playlists">Back to List</a>
</div>

@code {
    private string userId = "System";

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Playlist? Playlist { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        // Get the userId claim
        var userIdClaim = user.FindFirst("userId");
        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }
     
        using var context = DbFactory.CreateDbContext();
        Playlist ??= await context.Playlist.FirstOrDefaultAsync(m => m.Id == Id);

        if (Playlist is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdatePlaylist()
    {
        using var context = DbFactory.CreateDbContext();

        //Set the userId to the UpdatedBy fields.
        Playlist.UpdatedBy = userId;
        //Set the DateUpdated fields to the current date and time.
        Playlist.DateUpdated = DateTime.Now;

        context.Attach(Playlist!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!PlaylistExists(Playlist!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/playlists");
    }

    private bool PlaylistExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Playlist.Any(e => e.Id == id);
    }
}
