@page "/listeninghistories"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Groovy.Domain
@using Groovy.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Groovy.Data.GroovyContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="listeninghistories/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.ListeningHistory">
    <PropertyColumn Property="listeninghistory => listeninghistory.AppUserId" />
    <PropertyColumn Property="listeninghistory => listeninghistory.SongId" />
    <PropertyColumn Property="listeninghistory => listeninghistory.ListenedAt" />
    <PropertyColumn Property="listeninghistory => listeninghistory.PlayedDurationPercent" />
    <PropertyColumn Property="listeninghistory => listeninghistory.Skipped" />
    <PropertyColumn Property="listeninghistory => listeninghistory.DateCreated" />
    <PropertyColumn Property="listeninghistory => listeninghistory.DateUpdated" />
    <PropertyColumn Property="listeninghistory => listeninghistory.CreatedBy" />
    <PropertyColumn Property="listeninghistory => listeninghistory.UpdatedBy" />

    <TemplateColumn Context="listeninghistory">
        <a href="@($"listeninghistories/edit?id={listeninghistory.Id}")">Edit</a> |
        <a href="@($"listeninghistories/details?id={listeninghistory.Id}")">Details</a> |
        <a href="@($"listeninghistories/delete?id={listeninghistory.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private GroovyContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
