@page "/recommendations/edit"
@using Microsoft.EntityFrameworkCore
@using Groovy.Domain
@inject IDbContextFactory<Groovy.Data.GroovyContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Recommendation</h2>
<hr />
@if (Recommendation is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Recommendation" OnValidSubmit="UpdateRecommendation" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Recommendation.Id" value="@Recommendation.Id" />
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="appuserid" class="form-label">AppUserId:</label>
                    <InputText id="appuserid" @bind-Value="Recommendation.AppUserId" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Recommendation.AppUserId" class="text-danger" />
                </div>
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="generatedat" class="form-label">GeneratedAt:</label>
                    <InputDate id="generatedat" @bind-Value="Recommendation.GeneratedAt" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Recommendation.GeneratedAt" class="text-danger" />
                </div>
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="algorithmused" class="form-label">AlgorithmUsed:</label>
                    <InputText id="algorithmused" @bind-Value="Recommendation.AlgorithmUsed" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Recommendation.AlgorithmUsed" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="seedinput" class="form-label">SeedInput:</label>
                    <InputText id="seedinput" @bind-Value="Recommendation.SeedInput" class="form-control" />
                    <ValidationMessage For="() => Recommendation.SeedInput" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Recommendation.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Recommendation.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Recommendation.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Recommendation.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Recommendation.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Recommendation.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Recommendation.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Recommendation.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/recommendations">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Recommendation? Recommendation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Recommendation ??= await context.Recommendation.FirstOrDefaultAsync(m => m.Id == Id);

        if (Recommendation is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateRecommendation()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Recommendation!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!RecommendationExists(Recommendation!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/recommendations");
    }

    private bool RecommendationExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Recommendation.Any(e => e.Id == id);
    }
}
